#features {
    margin-top: 30px;
    background-color: #121212;
}
.grid {
    display: flex;
    padding: 15px;
}
#features .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #262626;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    
}
.icon [src] {
  width: 30px;  
}
#features .desc {
    padding-left: 30px;
}
#features h2 {
    color: var(--button-text-color);
}
#features p {
    color: var(--text-color);
    padding-top: 10px;
}