.header__container {
    display: flex;
    min-height: 100px;
    align-items: center;
}
.nav__menu {
    flex: 1 1 auto;
}
.menu {
   display: flex;
   justify-content: flex-end; 
}
nav ul {
    display: flex;
}
nav li {
    margin: 0px 30px 0px 30px;
}
.nav__link {
    cursor: pointer;
}
nav a {
    color: var(--h2-text-color);
}
nav a:visited {
    color: var(--h2-text-color);
}
nav a:hover {
    color: var(--button);
}
nav a:hover {
    /* щоб лінк підкреслювався при наведенні */
    text-decoration: underline;
  }