
.hero__container {
   display: flex;
   flex-direction: column;
   align-items: center;
   
} 
h2 {
    display: block;
    font-weight: bold;
}
form {
    display: block;
    padding-top: 15px;
}
.hero__button {
    margin-top: 15px;
}