
.pricing__container {
    display: flex;
    margin: 0 -15px;
    margin: auto;
    margin-top: 60px;
}
.container__card { 
    margin: 0 15px;
    border-radius: 1em;
    border: 1px solid var(--h2-text-color);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 30px;
}
.container__card:hover {
    background-color: var(--background-color-card);
}

ol {
    padding: 15px 0;
}     
